.place__title {
  margin: 0;
  padding: 92px 40px 48px 0px;
  max-width: 460px;
  text-overflow: clip;

  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;

  color: #ffffff;
}
