.places {
  margin: 0;
  padding-bottom: 92px;

  width: 987px;
}

@media screen and (max-width: 986px) {
  .places {
    width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 766px) {
  .places {
    padding-top: 62px;
    width: 320px;
  }
}
