.place__title_size_l {
  display: inline-flex;
  padding-bottom: 17px;
  padding-right: 0;
  word-break: break-all;
  max-width: 500px;
  font-size: 67px;
}
@media screen and (max-width: 1183px) {
  .place__title_size_l {
    padding-bottom: 2px;
    padding-top: 36px;
    max-width: 324px;
    font-size: 42px;
  }
}

@media screen and (max-width: 766px) {
  .place__title {
    max-width: 248px;
    font-size: 32px;
    order: 3;
  }
}
