.place__title_size_l {
  display: inline-flex;
  padding-bottom: 17px;
  padding-right: 0;
  white-space: nowrap;
}
@media screen and (max-width: 986px) and (min-width: 320px) {
  .place__title_size_l {
    padding-bottom: 2px;
  }
}
