.texts_size_l {
  min-height: 748px;
}

@media screen and (max-width: 986px) {
  .texts_size_l {
    min-height: 768px;
  }
}

@media screen and (max-width: 721px) {
  .texts_size_l {
    min-height: 922px;
    align-content: space-evenly;
  }
}
