.about__title {
  margin: 0;
  padding: 92px 0 40px;
  text-align: center;
  max-width: 1017px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;

  color: #ffffff;
}

@media screen and (max-width: 968px) {
  .about__title {
    max-width: 720px;
    margin: 0 auto;
    text-align: left;
  }
}

@media screen and (max-width: 721px) {
  .about__title {
    max-width: 288x;
    font-size: 32px;
    line-height: 1.09;
    padding: 44px 0 9px;
  }
}
