.button__text {
  margin: 0;
  height: 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

@media screen and (max-width: 766px) {
  .button__text {
    font-size: 14px;
    line-height: 17px;
    height: 17px;
  }
}
