.header__subtitle {
  margin: 0;
  padding: 32px 0 64px;
  max-width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;

  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 766px) {
  .header__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    padding: 60px 0 40px;
  }
}
