.cover {
  width: 1184px;
  height: 740px;
  background-image: url(/images/_background.png);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 986px) and (min-width: 320px) {
  .cover {
    width: 760px;
    height: 746px;
  }
}
