.cover {
  width: 1184px;
  height: 740px;
  background-image: url(/images/_background.png);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1183px) {
  .cover {
    width: 760px;
    height: 746px;
  }
}

@media screen and (max-width: 766px) {
  .cover {
    width: 320px;
    height: 254px;
  }
}
