.about {
  max-width: 1017px;
}
@media screen and (max-width: 986px) {
  .about {
    max-width: 720px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 766px) {
  .about {
    max-width: 288px;
  }
}
