.place {
  margin: 0;
  max-width: 984px;
  min-height: 756px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 1183px) {
  .place {
    max-width: 720px;
    margin: 0 auto;
    min-height: 590px;
    max-height: 691px;
  }
}
@media screen and (max-width: 766px) {
  .place {
    max-height: max-content;
    flex-direction: column-reverse;
    padding-bottom: 16px;
  }
}
