.place__url-heading {
  margin: 0;
  padding-bottom: 8px;
  max-width: 58px;
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.12em;
  text-transform: uppercase;
  transition: color 0.5s;
  color: #aaaaaa;
}

.place__url-heading:hover {
  color: #8d8d8d;
}

@media screen and (max-width: 766px) {
  .place__url-heading {
    max-width: 245px;
    line-height: 14.52px;
  }
}
