.place__website {
  padding-top: 165px;
  padding-bottom: 48px;
}

@media screen and (max-width: 986px) and (min-width: 320px) {
  .place__website {
    padding-top: 31px;
    padding-bottom: 0;
    width: 295px;
  }
}
