.place__website {
  padding-top: 165px;
  padding-bottom: 48px;
}

@media screen and (max-width: 986px) {
  .place__website {
    padding-top: 64px;
    padding-bottom: 21px;
    width: 295px;
  }
}

@media screen and (max-width: 721px) {
  .place__website {
    order: 2;
    padding: 0 16px 30px;
  }
}
