.place__artist {
  margin: 0;
  max-width: 456px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  color: #ffffff;
}

@media screen and (max-width: 1183px) {
  .place__artist {
    padding-top: 8px;
  }
}
@media screen and (max-width: 766px) {
  .place__artist {
    max-width: 288px;
    padding-top: 8px;
  }
}
